.privacy-policy {
  padding: 35px 0 80px;
  position: relative;

  .circle-decor {
    right: 4px;
    top: -3px;
  }
  .circle-decor_left {
    left: -82px;
    top: 1013px;
    right: auto;
  }
}


