.footer {
    background: #07152F;
    padding: 70px 0;
    .in {
        display: flex;
        justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
    }
}

.footer-col {
  width: 25%;
    p {
        font-size: 12px;
        line-height: 140%;
        color: rgba($color5, 0.8);
        max-width: 187px;
      margin: 24px 0 4px;
    }
    h5 {
        color: $color5;
        font-weight: 600;
      margin: 1px 0 20px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0 0 13px;
    }
    a {
        font-size: 12px;
        line-height: 140%;
        color: rgba($color5, 0.8);
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover {
            i {
                transition: all 0.2s ease;
                border-bottom: none;
            }
        }
    }
    i {
        font-style: normal;
        border-bottom: 1px solid rgba($color5, 0.8);
    }
    img {
      margin: 0 9px -2px 0;
    }
    .logo {
        display: inline-block;
        border-bottom: 1px solid rgba($color5, 0.15);
        padding: 0 0 30px;
        img {
            margin: 0;
        }
    }
}

.footer-list {
  padding: 0 0 0 46px;
  box-sizing: border-box;
    li {
        padding: 0 0 0 23px;
        position: relative;
        margin: 0 0 5px;
        &:after {
            content: '';
            width: 8px;
            height: 8px;
            border: 2px solid #00B2FF;
            box-sizing: border-box;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
          top: 9px;
          left: -1px;
        }
    }
    a {
        font-size: 14px;
        line-height: 140%;
        color: rgba($color5, 0.9);
        text-decoration: none;
        &:hover {
            color: #00B2FF;
            transition: all 0.2s ease;
        }
    }
}
.footer-contacts {
  padding: 0 0 0 182px;
  box-sizing: border-box;
  h5 {
    margin: 1px 0 13px;
  }
  a {
    font-size: 14px;
    line-height: 17px;
  }
  li {
    margin: 0 0 6px;
  }
}
.social-links {
  margin: 26px -1px 0;
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color5;
      margin: 0 0 15px;
    }
    a {
        display: inline-block;
        width: 46px;
        height: 46px;
        background: #0E2146;
        border: 1px solid rgba(0, 178, 255, 0.4);
        box-sizing: border-box;
        text-align: center;
        padding: 13px 0;
        transition: all 0.2s ease;
      margin: 0 0 0 1px;
        &:hover {
            transition: all 0.2s ease;
            border: 1px solid #00B2FF;
            svg {
                path {
                    opacity: 1;
                }
            }
        }
    }
}
